<h1 class="animated fadeIn fast">Teachers </h1>
<hr>
<div class="animated fadeIn">

<table class="table table-striped animated fadeIn">
    <thead>
      <tr>

        <th scope="col">name</th>
        <th scope="col">patronus</th>
        <th scope="col">age</th>
        <th scope="col">image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers">
        <td>{{teacher.name}}</td>
        <td>{{teacher.patronus}}</td>
        <td>{{teacher.dateOfBirth | customPipes}}</td>
        <td><img [src]="teacher.image" alt="..." class="img-thumbnail image-people"></td>
      </tr>
    </tbody>
  </table>
</div>